.listCity {
    background-image: url(../../assets//backgrounds/2202_w026_n002_1393b_p1_1393.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    align-items: center;
    color: white;
    margin: 0;
    padding: 0;

    h1, h2 {
        margin: 5px;
    }

    input {
        padding: 10px 15px;
        border-radius: 6px;
        border: none;
        margin: 5px 0;
    }

    button {
        background-color: black;
        color: white;
        font-size: large;
        padding: 10px 15px;
        cursor: pointer;
        border-radius: 6px;
        border: none;
        margin: 10px 10px;

        &:hover {
            background-color: rgb(40, 44, 44);
        }
    }

    .save {
        background-color: green;
    }

    .cancel {
        background-color: red;
    }

    .editDeleteBlock {
        margin: 0;
        display: flex;
        color: white;
        border: 2px solid rgb(63, 209, 107);
        padding: 0 100px;
        border-radius: 6px;
        background-color: rgba($color: #000000, $alpha: 0.8);
    
        .puce {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
        }
    }

    .addCity {
        background-color: rgba($color: #000000, $alpha: 0.8);
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 2px solid rgb(63, 209, 107);
        border-radius: 6px;
        padding: 0 72px;
        margin-top: 20px;
    }
}