.customMap {
    text-align: center;

    .map {
        margin-bottom: 20px;
    }

    .buttonDown {
        display: flex;
        justify-content: space-around;
        button {
            background-color: black;
            color: white;
            font-size: large;
            padding: 10px 15px;
            cursor: pointer;
            border-radius: 6px;
            border: none;
    
            &:hover {
                background-color: rgb(40, 44, 44);
            }
        }
    }
    
}